#root .bg-light {
    background-color: #0f171e !important;
    padding: 16px 45px;
}

.navbar-brand img {
    width: 120px;
}

.nav-link {
    position: relative;
}

.profile-img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    top: -5px;
}

.nav-item {
    cursor: pointer;
}